* {

}
.App {
  text-align: center;
}

.halfPage{
  width:50%;
  vertical-align: top;
}

.titleOnly p {
  width: 0px;
  display: none;
}

.selected {
background-color: blue;
}

.Main{
  height: 1000px;
}

body{
  background-image: url("https://i.ytimg.com/vi/oRiLLd2hX0E/maxresdefault.jpg");
background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav{
  background-color: black;
  height: 50px;
  margin-top: 0;
  color: white !important;
  text-decoration: none;
}

ul {
  list-style: none;
  display: inline-flex;
}

nav a {
text-decoration: none;
color: white;
display: block;
transition: .3s background-color;
margin-right: 100px;
}

.Article {
  background-color: grey;
  border-top: solid black;
  color: darkblue;
}

.dashTitle {
  background-color: grey;
  border-top: solid black;
  color: darkblue;
  width: 115px;
}

.dashPar {
  background-color: grey;
  border-top: solid black;
  color: darkblue;
  width: 225px;
}

.eventsTitle {
  background-color: grey;
  color: Black;
  width: 100px;
}

.catTitle {
  background-color: grey;
  color: Black;
  width: 100px;
}